// Body
$body-bg: #0000;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Padrão de Cores
$rosa: #f72585;
$preto: #313131;
$azul: #4361ee;
$cinza: #c4c4c4;
$transparent: transparent;
$branco: #fafafa;
