@tailwind base;
@tailwind components;
@tailwind utilities;
@use "~sweetalert2/src/sweetalert2";
body {
    overflow: hidden;
}
* {
    font-family: "Poppins";
}
.button__txt--font {
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}
.navbar__desktop p,
.navbar__mobile p {
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #313131;
}
.navbar__menu--icon {
    @apply mr-5;
}

.v-messages {
    color: red;
}

/*FONTE DOS TEXTOS DO LOGIN*/

.login__font {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #ffffff;
}

/* config universal dos inputs */
input {
    border-radius: 12px;
}
input::placeholder,
textarea::placeholder {
    color: rgba(196, 196, 196, 0.5);
    font-style: italic;
    font-weight: 700;
    line-height: 18px;
}
input[aria-invalid="true"] {
    border-color: red;
}

input[aria-invalid="false"] {
    border-color: green;
}

@media screen and (min-width: 1024px) {
    .navbar__desktop {
        @apply block;
    }
    .navbar__mobile {
        @apply hidden;
    }
    .navbar__desktop--links {
        @apply flex items-center space-x-3 mr-5;
    }
}
@media screen and (max-width: 1024px) {
    .navbar__mobile {
        @apply block;
    }
    .navbar__desktop {
        @apply hidden;
    }
    .navbar__desktop--links {
        @apply hidden;
    }
}
@media screen and (max-width: 768px) {
}
