@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@use "~sweetalert2/src/sweetalert2";
body {
    overflow: hidden;
}
* {
    font-family: "Poppins";
}
a {
    color: initial !important;
    text-decoration: none !important;
}
.button__txt--font {
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}
.navbar__desktop p,
.navbar__mobile p {
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #313131;
}
.navbar__menu--icon {
    @apply mr-5;
}

.v-messages {
    color: red;
}

/*FONTE DOS TEXTOS DO LOGIN*/

.login__font {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #ffffff;
}
/* Config Paginas de cadastro */

.cadastro__form--title {
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #ffffff;
}
.cadastro__section--title {
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #4361ee;
}
.cadastro__input {
    border-radius: 12px;
}
.cadastro__form--inputs {
    @apply space-y-20;
}
.cadastro__input--select {
    background-color: #ffffff;
    box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.cadastro__input:placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}
.cadastro__btn--cadastrar {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #f7f7f7;
}

/*Fim das config de pagina de cadastro*/

/*
    Tabelas
*/

/* GRIDSs */
/*
&__grid {
        @apply grid grid-cols-12 gap-4;
        &--1 {
            @apply col-span-1;
        }
        &--2 {
            @apply col-span-2;
        }
        &--3 {
            @apply col-span-3;
        }
        &--4 {
            @apply col-span-4;
        }
        &--5 {
            @apply col-span-5;
        }
        &--6 {
            @apply col-span-6;
        }
        &--7 {
            @apply col-span-7;
        }
        &--8 {
            @apply col-span-8;
        }
        &--9 {
            @apply col-span-9;
        }
        &--10 {
            @apply col-span-10;
        }
        &--11 {
            @apply col-span-11;
        }
        &--12 {
            @apply col-span-12;
        }
    }
*/

/*
ALUNOS 
*/
.alunos__font--title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
}
.alunos__font--welcome {
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: rgba(229, 229, 229, 0.5);
}
.alunos__font--titleTable {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.alunos__font--subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/*active class vue router */
.router-link-active,
.router-link-exact-active {
    border-bottom: solid 3px #f72585;
}
/* config universal dos inputs */
input {
    border-radius: 12px;
}
input::placeholder,
textarea::placeholder {
    color: rgba(196, 196, 196, 0.5);
    font-style: italic;
    font-weight: 700;
    line-height: 18px;
}
input[aria-invalid="true"] {
    border-color: red;
}

input[aria-invalid="false"] {
    border-color: green;
}

@media screen and (min-width: 1024px) {
    .navbar__desktop {
        @apply block;
    }
    .navbar__mobile {
        @apply hidden;
    }
    .navbar__desktop--links {
        @apply flex items-center space-x-3 mr-5;
    }
}
@media screen and (max-width: 1024px) {
    .navbar__mobile {
        @apply block;
    }
    .navbar__desktop {
        @apply hidden;
    }
    .navbar__desktop--links {
        @apply hidden;
    }
}
@media screen and (max-width: 768px) {
    .alunos__font--title {
        font-size: 22px !important;
    }
}
